<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Veasion</display-name>
  
  <!-- 监听 -->
  <listener>
  	<listener-class>veasion.handle.VeasionListener</listener-class>
  </listener>
  
  <!-- 过滤器 -->
  <filter>
  	<filter-name>VeasionFilter</filter-name>
  	<filter-class>veasion.handle.VeasionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>VeasionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 请求中央处理器 -->
  <servlet>
  	<servlet-name>VeasionServlet</servlet-name>
  	<servlet-class>veasion.handle.VeasionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VeasionServlet</servlet-name>
  	<url-pattern>*.vea</url-pattern>
  </servlet-mapping>
  
  <!-- 首页 -->
  <welcome-file-list>
    <welcome-file>/page/win7.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/page/404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/page/500.jsp</location>
  </error-page>
  
</web-app>